<nav role="navigation" class="navbar navbar-default navbar-fixed-top" id="navbar-example">
            <div class="container-fluid">
                <div class="navbar-header">
                  <button data-target=".bs-example-js-navbar-collapse" data-toggle="collapse" type="button" class="navbar-toggle"> 
                      <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> 
                      <span class="icon-bar"></span> 
                      <span class="icon-bar"></span> 
                  </button>
                  <img src="http://placehold.it/80x50" class="pull-left navbar-header-logo">
                  <a href="#/" class="navbar-brand">CBFM-Manager</a> 
                </div>

              <div class="collapse navbar-collapse bs-example-js-navbar-collapse">
                <ul class="nav navbar-nav">

                  <!-- <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li> -->  
                  <li class="dropdown"> <a href="" data-toggle="dropdown">Administração <b class="caret"></b></a>
                    <ul class="dropdown-menu">

                     <!--  Sub-Menu code
                      <li class="dropdown-submenu"><a href="#/" tabindex="-1" data-toggle="dropdown">Action</a>
                        <ul class="dropdown-menu">
                          <li><a href="#/" tabindex="-1">Sub Action</a></li>
                          <li class="dropdown-submenu"><a href="#/" tabindex="-1" data-toggle="dropdown">Another sub action</a>
                            <ul class="dropdown-menu">
                              <li><a href="#/" tabindex="-1">Sub Action</a></li>
                              <li><a href="#/" tabindex="-1">Another sub action</a></li>
                              <li><a href="#/" tabindex="-1">Something else here</a></li>
                            </ul>
                          </li>
                          <li><a href="#/" tabindex="-1">Something else here</a></li>
                        </ul>
                      </li> -->
                      
                      <li fw-security-object="{ROLE_USER, ROLE_ADMIN}"><a ng-href="/#/administracao/federacoes" tabindex="-1"><span class="glyphicon glyphicon-fire pull-left icon-menu-item"></span>Federações</a>
                      </li>
                      <li fw-security-object="{ROLE_USER, ROLE_ADMIN}"><a ng-href="/#/administracao/clubes" tabindex="-1"><span class="glyphicon glyphicon-leaf pull-left icon-menu-item"></span>Clubes</a></li>
                      <li fw-security-object="{ROLE_USER, ROLE_ADMIN}"><a ng-href="/#/administracao/atletas" tabindex="-1"><span class="glyphicon glyphicon-globe pull-left icon-menu-item"></span>Atletas</a></li>
                      <li class="divider" fw-security-object="{ROLE_ADMIN}"></li>
                      <li fw-security-object="{ROLE_ADMIN}"><a ng-href="/#/administracao/usuarios" tabindex="-1"><span class="glyphicon glyphicon-user pull-left icon-menu-item"></span>Usuários</a></li>


                    </ul>
                  </li>
                  
                </ul>
                <ul class="nav navbar-nav navbar-right" ng-controller="AuthController">
                  <li class="dropdown" id="fat-menu"> <a data-toggle="dropdown" class="dropdown-toggle" role="button" id="drop3" href="#/">Conta {{currentUser.name}}<b class="caret"></b></a>
                    <ul aria-labelledby="drop3" role="menu" class="dropdown-menu">
                      <li role="presentation"><a href="http://twitter.com" tabindex="-1" role="menuitem">Sobre</a></li>
                      <li class="divider" role="presentation"></li>
                      <li role="presentation"><a ng-click="logout()" tabindex="-1" role="menuitem">Sair</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
              
            </div>
           
</nav>          